/*David Gonzalez Gonzalez UO291047*/ 

/*Especificidad: 002*/
body > section:nth-of-type(2) {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    padding: 0;
    margin: auto;
    list-style: none;
    max-width: 100%;
}

/*Especificidad: 001*/
article {
    display: grid;
    width: calc(100% / 5);
    margin: 0.3em;
    font-weight: bold;
    position: relative;
    border: 0.2em solid #000A;
    /*El color es heredado del elemento body*/
    background-color: #DBDCCA;
}

/*Especificidad 002*/
article h4 {
    text-align: center;
    padding: 2em;
}

/*Especificidad: 002*/
article p {
    grid-column: 1 / -1;
    padding-left: 0.3em;
}

