/*David Gonzalez Gonzalez UO291047*/ 

/*
Ivory - Background
#EBECE0

Red
#EF3340

Cool Grey - Foreground
#444444

Black
#0A0A00
*/

/*Especificidad: 001*/
body{
    font-family: "Century Gothic", "Trebuchet MS", sans-serif;
    font-size: 1.1em;
    background-color: #EBECE0;
    color: #444444;
}

/*Especificidad: 001 , 001, 001, 001, 001, 001*/
h1, h2, h3, h4, h5, h6{
    font-family: "Arial Rounded MT Bold", "Arial Black", sans-serif;
}

/*Especificidad: 012*/
h1 a:link{
    text-decoration: none;
}

header a {
    font-weight: bold;
}

/*Especificidad: 011*/
a:link{
    /*El color de fondo es heredado del elemento body*/
    color:#991918;
}

/*Especificidad: 011*/
a:visited{
    /*El color de fondo es heredado del elemento body*/
    color:#034F8E;
}

/*Especificidad 023*/
main section:first-of-type p:last-of-type{
    font-style: italic;
}

/*Especificidad: 001*/
ol{
    list-style-type: upper-roman;
}

/*Especificidad: 001*/
ul{
    list-style-type:circle;
}

/*Especificidad: 001, 001*/
li, p{
    line-height: 1.5em;
}

/*Especificidad 003*/
ul dl dt{
    font-weight: bold;
}

/*Especificidad 001, 001*/
dd, dt {
  line-height: 1em;
  margin-bottom: 1.5rem;
}

/*Especificidad: 001*/
table {
    table-layout: fixed;
    width: 100%;
    border: 0.2em solid #444444;
    margin: auto;
}

/*Especificidad: 001*/
tr {
    /*El color es heredado del elemento body*/
    background-color: #DBDCCA;
}

/*Especificidad: 001, 001*/
th, td {
    padding: 0.7em;
}

/*Especificidad: 002, 002*/
tbody th, tbody td{
    text-align: left;
}

/*Especificidad: 012*/
tbody tr:nth-child(odd) {
    /*El color es heredado del elemento body*/
    background-color: #F1F1E9;
}

/*Especificidad: 012*/
tbody tr:nth-child(even) {
    /*El color es heredado del elemento body*/
    background-color: #E3E4D3;
}

/*Especificidad: 001*/
img{
    max-width: 100vw;
    height: auto;
}

/*Especificidad: 001*/
video{
    max-width: 60vw;
    height: auto;
}

/*Especificidad: 011*/
a.active{
    /*El color de fondo es heredado del elemento body*/
    color:#075A13;
}

/*Mapa*/
/*Especificidad: 012*/
/*A veces se genera automaticamente un div al final de la página y otras veces no.
Para evitar que de vez en cuando el mapa dinamico no funcione, se definen estas reglas*/
body > div:last-of-type, 
body > div:nth-last-child(2){
    width: 70em;
    height: 70em;
}

/*Especificidad: 001*/
/*article {
    width: 100%;
    max-width: 85vh;
    height: 60vh;
    position: relative;
    overflow: hidden; 
    border-radius: 1em;
}*/

/*Especificidad: 002*/
/*article h3 {
    width: 100%;
    text-align: center;
    margin-bottom: 0.5em;
    font-size: 2em;
}*/

/*Especificidad: 002*/
/*article img {
    width: 100%;
    max-width: 85vh;
    height: 50vh;
    position: absolute;
    transition: all 0.5s;
    object-fit: cover;
    border-radius: 0.5em;
}*/

/*Especificidad: 002*/
/*article button {
    position: absolute;
    width: 2em;
    height: 2em;
    padding: 0.5em;
    border: none;
    border-radius: 50%;
    z-index: 10;
    cursor: pointer;
    background-color: #fff;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}*/

/*Especificidad: 012*/
/*article button:active {
    transform: scale(1.1);
}*/

/*Especificidad: 012*/
/*article button:nth-of-type(2) {
    top: 50%;
    left: 2%;
}*/

/*Especificidad: 012*/
/*article button:nth-of-type(1) {
    top: 50%;
    right: 2%;
}*/
