/*David Gonzalez Gonzalez UO291047*/ 

/*
Ivory - Background
#EBECE0

Red
#EF3340

Cool Grey - Foreground
#444444

Black
#0A0A00
*/

/*Especificidad: 001*/
body{
    font-family: "Century Gothic", "Trebuchet MS", sans-serif;
    background-color: #EBECE0;
    color: #444444;
}

/*Especificidad: 001*/
header{
    background-color: #0A0A00;
}

/*Especificidad: 001*/
h1{
    color: #EF3340;
}

/*Especificidad: 001*/
nav{
    color: #EF3340;
}