/*David Gonzalez Gonzalez UO291047*/ 

/*Especificidad: 002*/
body > section {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    padding: 0;
    margin: auto;
    list-style: none;
    max-width: 100%;
}

/*Especificidad: 003, 003, 003*/
body > section h2,
body > section a,
body > section button {
    width: calc(100%);
    text-align: center;
}

/*Especificidad: 002*/
section article {
    width: calc(20%);
    height: 15em;
    margin: 0.5em;
    font-weight: bold;
    text-align: center;
    transform: scale(1);
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    position: relative;
    overflow: visible;
}

/*Especificidad: 012, 012, 012*/
section article[data-state = "flip"], 
section article[data-state = "revealed"],
section article[data-state = "fail"] {
    transform: rotateY(180deg);
}

/*Especificidad: 012*/
section article[data-state = "init"] {
    transform: rotateY(0deg);
}

/*Añadido como parte de las propuestas de las pruebas de usuario*/
/*Especificidad: 013, 013*/
section article[data-state = "fail"] h3,
section article[data-state = "fail"] img {
    border-color: crimson;
}

/*Añadido como parte de las propuestas de las pruebas de usuario*/
/*Especificidad: 013, 013*/
section article[data-state = "revealed"] h3,
section article[data-state = "revealed"] img {
    border-color: chartreuse;
}

/*Especificidad: 003, 003*/
section article h3,
section article img {
    margin: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.4em;
    /*El color de primer plano se hereda del elemento body de estilo.css*/
    background: #DBDCCA;
    backface-visibility: hidden;
    position: absolute;
    border: 0.2em solid #000A;
}

/*Especificidad: 003*/
section article h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 100%;
}

/*Especificidad: 003*/
section article img {
    transform: rotateY(180deg);
    display: block;
    object-fit: fill;
}

/*Especificidad: 001*/
audio {
    display: none;
}

body > section button {
    margin-top: 3em;
}